.marker-header, .outlet, .outlets-header {
	margin: 0;
}

.map-wrapper, .outlets-selection, .outlets {
	display: flex;
}

.outlets-selection, .outlets {
	flex-direction: column;
}

.marker-title, .marker-content {
	margin: 10px;
}

.outlet:hover {
	transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	color: rgb(0, 185, 235);
	background: rgb(75, 75, 75);
}

.outlet:focus {
	outline: 0;
}

.outlet-text {
	align-self: center;
}

.gm-style-cc {
	display: none;
}

.map-wrapper {
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
	background: rgb(60, 60, 60);
	border: 2px solid black;
	flex-direction: row;
	margin: 10px 0;
	height: 50vh;
}

.marker-title {
	font-size: 20px;
}

#map {
	border-left: 2px solid black;
	height: 100%;
	flex: 5;
}

.outlets-selection {
	flex: 2;
}

.outlets::-webkit-scrollbar {
	width: 15px;
}

.outlets::-webkit-scrollbar-track {
	background: none;
}

.outlets::-webkit-scrollbar-thumb {
	background: rgb(85, 85, 85);
}

.outlets-header-wrapper {
	position: relative;
	height: 7vh;
}

.outlets-header {
	transform: translate(-50%, -50%);
	text-align: center;
	position: absolute;
	width: fit-content;
	font-size: 25px;
	color: white;
	left: 50%;
	top: 50%;
}

.outlets {
	border-top: 2px solid black;
	overflow-y: auto;
	flex: 1;
}

.outlet {
	padding: 0;
	border: 0;
	transition: background 0.1s linear, color 0.1s linear;
	-webkit-transition: background 0.1s linear, color 0.1s linear;
	-moz-transition: background 0.1s linear, color 0.1s linear;
	-ms-transition: background 0.1s linear, color 0.1s linear;
	-o-transition: background 0.1s linear, color 0.1s linear;
	justify-content: space-between;
	flex-direction: row;
	user-select: none;
	background: none;
	color: white;
	padding: 10px;
	display: flex;
}

@media (max-width: 1200px) {
	.outlets, .gmnoprint {
		display: none;
	}

	.outlets-header {
		font-size: 25px;
	}

	.outlets-selection {
		flex: none;
	}

	.map-wrapper {
		flex-direction: column;
	}
}