/* Philip */

.map-wrapper {
	border: 2px solid black;
	flex-direction: row;
	display: flex;
	height: 50vh;
}

.outlets-selection {
	flex-direction: column;
	display: flex;
	flex: 2;
}

.outlets::-webkit-scrollbar {
	width: 15px;
}

.outlets::-webkit-scrollbar-track {
	background: none;
}

.outlets::-webkit-scrollbar-thumb {
	background: rgb(75, 75, 75);
}

.outlets-header-wrapper {
	background: black;
	position: relative;
	height: 7vh;
}

.outlets-header {
	transform: translate(-50%, -50%);
	text-align: center;
	position: absolute;
	width: fit-content;
	font-size: 35px;
	color: white;
	margin: 0;
	left: 50%;
	top: 50%;
}

.outlets {
	border-right: 2px solid black;
	flex-direction: column;
	overflow-y: auto;
	display: flex;
	flex: 1;
}

.outlet {
	padding: 0;
	border: 0;
	margin: 0;
    justify-content: space-between;
    flex-direction: row;
	background: none;
	padding: 5px 5%;
    display: flex;
}

.outlet:first-child {
	margin-top: 10px;
}

.outlet:focus {
	outline: 0;
}

.outlet-text, .outlet-arrow {
	align-self: center;
}

.outlet-hr {
	border-color: black;
	margin: 0 5% 15px 5%;
	width: 90%;
}

.outlet-hr:last-child {
	margin-bottom: 10px;
}

#map {
	height: 100%;
	flex: 5;
}

.marker-header {
	margin: 0;
}

.marker-content {
	margin: 10px 0 5px 0;
}

.gm-style-cc {
	display: none;
}

.gm-svpc {
	display: none;
}

@media (max-width: 1200px) {
	.outlets {
		display: none;
	}

	.outlets-header {
		font-size: 25px;
	}

	.outlets-selection {
		flex: none;
	}

	.map-wrapper {
		flex-direction: column;
		height: 50vh;
	}

	.gmnoprint {
		display: none;
	}
}